html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding: 0 20px;
}

h3 {
	z-index: 2;
	position: relative;
	padding-left: 25px;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid #777;
	border-radius: 3px;
}

input[type="checkbox"] {
	transform: scale(2);
	margin: 2px;
	margin-left: 20px;
}

.clickable {
	cursor: pointer;
}

.checked-item {
	opacity: 0.75;
}

.controls {
	padding: 30px 0;
	padding-left: 25px;
	margin-top: -30px;
	border-bottom: 1px solid #777;
	box-sizing: border-box;
}

button {
	background-color: #ececec;
	outline: none;
	cursor: pointer;
	margin: 0;
	margin-top: 3px;
}

button:focus {
	outline: solid black;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@media(min-width: 750px) {
	.fixed {
		position: sticky;
		top: 0;
		width: 100%;
		background-color: #fffffff0;
		z-index: 1;
	}

	.mobile-column {
		flex-direction: row !important;
	}

	.fixed div.timer-container {
		margin-right: 25px;
	}

	.column.first {
		border-right: 1px solid #ececec;
	}

	.dev-name {
		max-width: 100% !important;
	}
}